
@font-face{
 font-family: "GenShinGothic-P-Normal"; 
 src: url("/font/GenShinGothic-P-Normal.ttf");      
 url("/font/GenShinGothic-P-Normal.ttf")  format("truetype"), Safari, Android, iOS        
}

/* Font Setting */
body{font-family: GenShinGothic-P-Normal,ng,sans-serif}



a {
    text-decoration: none;
}

#bbs_list a:hover { 
    color:#ff6211; 
} 

img {
    border: 0;
}

.h2_tit span {
    display: inline-block;
    margin-left: 8px;
    font-family: 'Malgeun Gothic',Malgun Gothic,tahoma,sans-serif;
    font-size: 10px;
    color: #999;
    font-weight: normal;
    letter-spacing: 0.03em;
}

.h2_tit {
    font-family: 'nanummyeongjo',nanummyeongjo;
    font-size: 20px;
    color: #111;
    font-weight: bold;
    width:890px;
    height:50px;
    left: 5px;
}

.bt5px {
    border-top: 5px solid #4e9671;
    background: #fff;
    opacity: .5;
    /* internet explorer */
    -khtml-opacity: 0.93;
    /* khtml, old safari */
    -moz-opacity: 0.93;
    /* mozilla, netscape */
    opacity: 0.93;
    /* fx, safari, opera */
    -webkit-opac 
}

#content .loBB {
    position: absolute;
    right: 48%;
    margin-right: -480px;
    top: 25px;
   	width: 950px; 
    height: 650px;
    padding: 20px;
    padding-top: 0px;
    background: #fff;
    z-index: 50;
}

#logintool {
    top: -5px;
    width: 890px;
    text-align: left;
}

#log_op {
	overflow:auto;
    opacity: 0.8;
    filter: alpha(opacity=80);
   
    background: #fff;
}

#search {
    position: relative;
    text-align: right;
}

#bbs_table {
    border: 1px solid #2d9ad3;
}


#bbs_list{
    font-family: 'nanummyeongjo',nanummyeongjo;
    border-bottom: 1px solid #82B5DF;
}

#bbs_list td {
    border-bottom: 1px solid #dddddd;
    text-align: center;
    font-size: 15px;
}

#bbs_list td:last-child {
    border-right: 0;
}
#downloadlog {
    position:relative;
    left:-355px;
    top:17px;
   
}




.title1 {
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #dedede;
    background-color: #f3f3f3;
    border-top: 4px solid #0099ff;
    height: 45px;
}

.title_size {
    font-size: 19px;
    text-align: left;
    border-bottom: 2px solid #e2e2e2;
}

table {
    border-collapse: collapse;
    font: 15px Verdana,Arial;
    word-spacing: -1px;
}

.gcs {
	
    align-content: center;
    height: 30px;
}


table > tr {
    width: 1800px;
}

.txtbox {
    position: relative;
    /*left: 70px;*/
    right: 130px;
}

.td {
	border-bottom:1px solid #BDBDBD;border-right:1px solid #BDBDBD;
    position: relative;
   
}

#ripple{
	position:relative;
	width:890px;
	border-bottom:1px solid #8C8C8C;

	
}


#ripple_write{
	width:"950";
	float:'left'';
	margin-top:20px;
	 border-bottom: 5px solid #4e9671;

	
}



.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:arial;
	font-size:10px;
	padding:5px 11px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}
